{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Configuration</h1>
  </div>

  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter your name:<br>
          {{ form.name(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>

  <div class="row">
    <div class="col-md-6">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>a</th>
            <th>b</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>aaa</td>
            <td>bbbb</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}